@using Airline.Application.ViewModels.Booking
@model Airline.Application.ViewModels.User.UserView

@{
    ViewData["Title"] = $"{Model.UserName} Profile";
}

<h1 class="text-center my-4">User Profile</h1>

<div class="container">
    <div class="row justify-content-center">
        <!-- Profile Information Card -->
        <div class="col-md-6">
            <div class="card mb-4 p-4 shadow-lg border-0" style="border-radius: 12px;">
                <div class="card-body text-center">
                    <img src="/images/benjamin-franklin-cut-on-new-260nw-2031485351.webp" alt="Profile Image" class="img-fluid rounded-circle mb-3" style="width: 150px; height: 150px;">
                    <h5 class="card-title">Personal Information</h5>
                    <dl class="row">
                        <dt class="col-sm-4">UserName</dt>
                        <dd class="col-sm-8">@Model.UserName</dd>
                        <dt class="col-sm-4">Email</dt>
                        <dd class="col-sm-8">@Model.Email</dd>
                    </dl>
                    <a href="@Url.Action("Edit", "User", new { id = Model.Id })" class="btn" data-bs-toggle="tooltip" style="width: 80px; background-color: #605DEC; color: white" data-bs-placement="top" title="Edit Profile"><i class="fa-solid fa-pen-to-square"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <!-- Bookings Card -->
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Your Bookings</h5>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Departure</th>
                                    <th>Arrival</th>
                                    <th>Booking Date</th>
                                    <th>Seat Number</th>
                                    <th>Total Price</th>
                                </tr>
                            </thead>
                            <tbody>
                            @if (ViewBag.Bookings != null)
                            {
                                var bookings = ViewBag.Bookings as List<BookingView>;

                                if (bookings != null)
                                {
                                    foreach (var booking in bookings)
                                    {
                                        <tr>
                                            <td>Country: @booking.DepartureAirportCountry<br>City: @booking.DepartureAirportCountry</td>
                                            <td>Country: @booking.ArrivalAirportCountry<br>City: @booking.ArrivalAirportCity</td>
                                            <td>@booking.BookingDate.ToString("d MMM yyyy")</td>
                                            <td>@booking.SeatNumber</td>
                                            <td>@booking.TotalPrice.ToString("C")</td>
                                        </tr>
                                    }
                                }
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script>
    // Инициализация всплывающих подсказок
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    });
</script>
}
