@model Airline.Domain.Entities.Flight

<h2>Flight Details</h2>
<div>
    <h3>@Model.FlightNumber</h3>
    <p><strong>Departure:</strong> @Model.DepartureAirport.Name</p>
    <p><strong>Arrival:</strong> @Model.ArrivalAirport.Name</p>
    <p><strong>Departure Time:</strong> @Model.DepartureTime</p>
    <p><strong>Arrival Time:</strong> @Model.ArrivalTime</p>
    <p><strong>Price:</strong> @Model.Price</p>
</div>
<a href="@Url.Action("Index")" class="btn btn-primary">Back to List</a>


